#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  text-align: center;
  padding: 0 20px;
}

.gradient-button {
  --background: linear-gradient(to right, #BF1C56, #703171);
  color: white;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  font-weight: bold;
  text-transform: capitalize; 
}


.center-box h1::first-letter {
  text-transform: uppercase; /* capitalize only the first letter */
}
