<ion-content class="outer-container">
  <div class="inner-box">

    <!-- Selected College Name -->
    <p><strong>Selected College:</strong> {{ selectedCity }}</p>

    <!-- Scratch Section -->
    <div class="scratch-section">
      <p class="scratch-text">Please scratch below to win exciting prizes</p>

      <div class="scratch-wrapper">
        <!-- Scratch canvas -->
        <canvas #scratchCanvas width="200" height="200"></canvas>

        <!-- Show reward result only after scratching -->
       <div
  class="scratch-reward-box"
  *ngIf="isScratched"
  style="text-align: center; margin-top: 16px;"
>

  <!-- If coupon exists -->
<!-- If coupon exists -->
<ng-container *ngIf="couponCode && couponCode.trim() !== ''; else noCoupon">

  <div class="coupon-box">
    <span class="coupon-text">{{ couponCode }}</span>
    <ion-icon name="copy-outline" class="copy-icon" (click)="copyCoupon()"></ion-icon>
  </div>

  <!-- Reward Description -->
<p class="reward-description" *ngIf="description && description.trim() !== ''">
  {{ description }}
</p>


  <ion-button class="claim-btn-inside" (click)="claimNow()">Claim Now</ion-button>

</ng-container>


  <!-- If no coupon -->
  <ng-template #noCoupon>
    <div class="reward-text">
      😔 Sorry, Better Luck Next Time
    </div>
  </ng-template>

</div>

      </div>
    </div>

  </div>
</ion-content>
