<ion-header>
  <ion-toolbar color="my-gradient-header">
    <ion-title class="title-center">Winner List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="row header-row">
    <div class="col-left"><strong>User Name</strong></div>
    <div class="col-right"><strong>Rewards</strong></div>
  </div>

  <ion-list>
  <ion-item *ngFor="let item of winningsList">
  <ion-label class="left-label">
    {{ item.userName ? item.userName : 'Guest User' }}
  </ion-label>
  <ion-label class="right-label">
    {{ item.winningDetail }}
  </ion-label>
</ion-item>

  </ion-list>

</ion-content>
