<ion-header>
  <ion-toolbar color="my-gradient-header">
    <ion-title class="title-center">Winner List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="row header-row">
    <div class="col-left"><strong>User Name</strong></div>
    <div class="col-right"><strong>Rewards</strong></div>
  </div>
<ion-list>
<ion-item lines="none" class="winner-item" *ngFor="let item of winningsList">
  <div class="left-text">
    {{ item.userName ? item.userName : 'Guest User' }}
  </div>

  <div class="right-text">
    {{ item.winningDetail }}
  </div>
</ion-item>

</ion-list>



</ion-content>
