/* Center Title */
.title-center {
  text-align: center;
}
ion-col {
  display: block ;
}


/* Gradient Header Toolbar */
ion-toolbar[color="my-gradient-header"] {
  background: linear-gradient(90deg, #bf1c56, #ff416c);
  color: #fff;
  font-weight: 600;
}

/* Header Row (Username / Reward) */
.header-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  font-size: 15px;
}

.col-left{
  width: 50%;
  font-weight: 600;
  color: #000000;
  text-align: left;
}

ion-item::part(native) {
  display: block !important;
}

.col-right {
  width: 50%;
  font-weight: 600;
  color: #000000;
  text-align: right;
}

/* Ion-item spacing fix for full width */
ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
}

/* Grid full width fix */
.winner-grid {
  width: 100% ;
  padding: 0 ;
  margin: 0;
}


/* Username column */
.left-col {
  text-align: left ;
  display: flex ;
  justify-content: flex-start ;
  width: 100% ;
}


/* Reward column */
.right-col {
  text-align: right ;
  justify-content: flex-end ;
  display: flex ;
  width: 100% ;
}


// /* Old text classes merged properly */
// .left-text {
//   font-weight: 500;
//   color: #008000;
//   display: flex;
//   align-items: center;
//   text-align: left;
// }

// .right-text {
//   font-weight: 500;
//   color: #008000;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   text-align: right ;
// }

/* Make ion-item true flex row */
.winner-item::part(native) {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;

  width: 100% !important;
  padding: 8px 12px !important;
}

/* Left column */
.left-text {
  font-weight: 500;
  color: green;
  text-align: left !important;
  flex: 1;
  white-space: normal;
}

/* Right column */
.right-text {
  font-weight: 500;
  color: green;
  text-align: right !important;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  white-space: normal;
}

