ion-tab-bar {
  --background: #ffffff;
  --color: #8c8c8c;
  --color-selected: #BF1C56;
  font-size: 12px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.custom-tab-bar {
  --background: #fff;
  --color: #8c8c8c;
  --color-selected: #BF1C56;
  font-size: 12px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}


