.win-card {
  border-radius: 14px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 16px;
}

.detail-text {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
}

.coupon-box {
  border: 1px dashed #2ecc71;
  background: #eaffef;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.coupon-box .label {
  font-size: 13px;
  color: #444;
}

.coupon-box .code {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
  letter-spacing: 1px;
}

.no-data {
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
  font-weight: 500;
  opacity: 0.6;
}

.my-gradient-header {
  --background: linear-gradient(to right, #bf1c56, #ff416c); 
  color: #fff;
}
.my-gradient-header ion-title {
  font-weight: bold;
  color: #fff;
}

.gradient-btn {
  --background: transparent;
  --border-radius: 25px;
  --box-shadow: none;
  color: #fff;
  font-weight: 600;

  --background: linear-gradient(to right, #bf1c56, #ff416c);
  --background-hover: linear-gradient(to right, #bf1c56, #ff416c);
  --background-activated: linear-gradient(to right, #bf1c56, #ff416c);
  --background-focused: linear-gradient(to right, #bf1c56, #ff416c);

  border-radius: 25px;
  padding: 12px;
}

