ion-content {
  --padding-start: 16px !important;
  --padding-end: 16px !important;
  --padding-top: 16px !important;
  --padding-bottom: 16px !important;
}

.win-card {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-text {
  text-align: center;
}

.coupon-box {
  border: 1px dashed #2ecc71;
  background: #eaffef;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.code {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.no-data {
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
  font-weight: 500;
  opacity: 0.6;
}

ion-title {
  text-align: center !important;
}
