<ion-content class="outer-container">

  <!-- Welcome + My Coupons -->
  <ion-grid>
    <ion-row class="header-row">

      <!-- Welcome text -->
      <ion-col size="8" class="welcome-col">
        <span class="welcome-text"><strong>Welcome</strong> {{ name }} ,</span>
      </ion-col>

      <!-- My Coupons Button -->
  <ion-col size="4" class="ion-text-right coupan-btn-col">
<ion-button
  size="small"
  fill="solid"
  class="my-coupon-btn"
  (click)="goToMyCoupons()"
  style="--background: linear-gradient(to right, #bf1c56, #ff416c);
         --color: #fff;
         font-weight: bold;
         text-transform: capitalize;
         border-radius: 10px;
         height: 40px;
         font-size: 14px;">
  My Coupons
</ion-button>

</ion-col>
    </ion-row>
  </ion-grid>

  <!-- Center Event Type -->


  <!-- 🟢 Running Events -->
  <h6 class="event-heading-small">Running Events</h6>
  <div class="city-scroll" *ngIf="(colleges || []).length > 0; else noRunning">
    <ion-button
      *ngFor="let event of colleges"
      class="gradient-circle-button running"
      expand="block"
      (click)="goToCityPage(event)">
      <div class="button-text">
        {{ event.eventName }}<br />
      </div>
    </ion-button>
  </div>
  <ng-template #noRunning>
    <p class="no-data">No running events</p>
  </ng-template>

  <!-- 🔴 Past Events -->
  <!-- 🔴 Past Events -->
<div *ngIf="pastEvents.length > 0">
  <h6 class="event-heading-small">Past Events</h6>

  <div class="city-scroll">
    <ion-button
      *ngFor="let event of pastEvents"
      class="gradient-circle-button past"
      expand="block"
      (click)="goToPostEvents()">
      <div class="button-text">
        {{ event.eventName }}<br />
      </div>
    </ion-button>
  </div>
</div>


<div *ngIf="upcomingEvents.length > 0">
  <h6 class="event-heading-small">Upcoming Events</h6>

  <div class="city-scroll">
    <div
      *ngFor="let event of upcomingEvents"
      class="upcoming-circle">

      <div class="upcoming-text">
        {{ event.eventName }}
      </div>

      <div class="upcoming-date">
        {{ event.eventScheduleDate | date:'dd MMM yyyy' }}
      </div>

    </div>
  </div>
</div>



</ion-content>
