.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.inner-box {
  width: 100%;
  max-width: 390px;
  padding: 20px;
  text-align: center;
}

.city-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
  padding: 20px 0;
  justify-content: center;
}

.gradient-circle-button {
  --background: linear-gradient(to right, #bf1c56, #ff416c);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-transform: capitalize;
}

.button-text {
  color: white;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}

.scratch-text {
  background: #f2f2f2;
  border: 2px dashed #bf1c56;
  color: #bf1c56;
  padding: 40px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.full-width-message {
  width: 100%;
}
